@import './base.css';

body {
  display: flex;
  overflow: hidden;
  background-image: url('./bourdeus-gradient.svg');
  background-size: cover;
  user-select: none;
}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: var(--color-background-mute);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}

#app {
  display: flex;
  flex-direction: column;
}

#sidebar {
  margin-top: 40px;
  width: 200px;
  padding-left: 7px;
  padding-right: 7px;
  gap: 5px;
  display: flex;
  flex-direction: column;
}

#topbar {
  position: absolute;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  app-region: drag;
}

.creator {
  font-size: 14px;
  line-height: 16px;
  color: var(--ev-c-text-2);
  font-weight: 600;
  margin-bottom: 10px;
}

.text {
  font-size: 28px;
  color: var(--ev-c-text-1);
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  padding: 16px 0;
}

.tip {
  font-size: 16px;
  line-height: 24px;
  color: var(--ev-c-text-2);
  font-weight: 600;
}

.svelte {
  background: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.ts {
  background: -webkit-linear-gradient(315deg, #3178c6 45%, #f0dc4e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.actions {
  display: flex;
  padding-top: 32px;
  margin: -6px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.action {
  flex-shrink: 0;
  padding: 6px;
}

.action a {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border: 1px solid transparent;
  text-align: center;
  font-weight: 600;
  white-space: nowrap;
  border-radius: 20px;
  padding: 0 20px;
  line-height: 38px;
  font-size: 14px;
  border-color: var(--ev-button-alt-border);
  color: var(--ev-button-alt-text);
  background-color: var(--ev-button-alt-bg);
}

.action a:hover {
  border-color: var(--ev-button-alt-hover-border);
  color: var(--ev-button-alt-hover-text);
  background-color: var(--ev-button-alt-hover-bg);
}

.versions {
  position: absolute;
  bottom: 30px;
  margin: 0 auto;
  padding: 15px 0;
  font-family: 'Menlo', 'Lucida Console', monospace;
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  border-radius: 22px;
  background-color: #202127;
  backdrop-filter: blur(24px);
}

.versions li {
  display: block;
  float: left;
  border-right: 1px solid var(--ev-c-gray-1);
  padding: 0 20px;
  font-size: 14px;
  line-height: 14px;
  opacity: 0.8;
  &:last-child {
    border: none;
  }
}

.tab {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  padding-left: 6px;
  padding-right: 5px;
  min-width: 180px;
  min-height: 35px;
  max-width: 180px;
  max-height: 35px;
  transition: background-color 0.2s;
}

.active-tab {
  background-color: rgba(255, 255, 255, 0.3);
}

.tab:hover:not(.active-tab) {
  background-color: rgba(255, 255, 255, 0.1);
}

.tab p {
  font-size: 14px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tab img {
  height: 18px;
  width: 18px;
}

.hidden {
  display: none;
}

.close-icon-div {
  display: flex;
  border-radius: 6px;
  transition: background-color 0.2s;
  min-height: 25px;
  min-width: 25px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
.close-icon-div:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.disabled {
  color: grey;
}

.enabled {
  color: white;
}

.navigation {
  display: flex;
  justify-content: center;
  margin-right: 15px;
  gap: 5px;
  app-region: no-drag;
}

.icon-div {
  display: flex;
  border-radius: 6px;
  min-height: 25px;
  min-width: 25px;
  justify-content: center;
  align-items: center;
}

.enabled.icon-div:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 720px) {
  .text {
    font-size: 20px;
  }
}

@media (max-width: 620px) {
  .versions {
    display: none;
  }
}

@media (max-width: 350px) {
  .tip,
  .actions {
    display: none;
  }
}
